

.container {
    margin-top: 70px;
}

.purchase-card {
    width: 800px;
    box-shadow: 0 4px 0 rgba(0, 0 ,0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding: 1m;
}
.white-font {
    color: white;
 }
 .my-row {
  border: 4px solid;
 }
 .my-col {
    border: 4px solid;
 }
 #center {
    display: block;
    margin: 0;
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p-card {
      color: burlywood;
  }
  .in-front {
    z-index: 20;
  }

  .p-row {
    border: 4px solid;   
   height: 200px;
}



