


.background {
  background-image: url("./images/brickoven.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  display: block;
  width: 100px;
  background: brown;
}

#navbar-bg {
  background: brown;
  
}

.font-white {
  text-align: center;
	color: white;
	background-color:brown;
   width: 100%;
   padding-top: 100px;

}
.customColor {
  text-align: center;
  color: #a52a2a;
}

.white-font {
   color: white;
}



.circle {
  width: 250px;
  height: 250px;
 background-image: url("./images/pizzaboard.jpg");
  -moz-border-radius: 150px; 
  -webkit-border-radius: 150px; 
  border-radius: 150px;
  border: 5px solid green;
}

.in-front {
  z-index: 20;
}

.container {
  width: 50%;
  height: 20%;
}

.big-font {
  font-size: 40px;
  font-weight: 1000;
  white-space: wrap;
}

.center {
  display: block;
  margin: 0;
  margin-right: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order {
  display: block;
  margin: 0;
  margin-right: 0;
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.footer {
  background: brown;
}

#credit-image {
  position: absolute;
  right: 150px;
  width: 200px
  
}
#brick{
  position: absolute;
  right: 150px;
  width: 200px;
  
}
#ticker {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
H1{
    text-align:center;
}
button{
    float:right
}
span{
    float:right;
  
}
body {
  font-family: 'Pacifico', cursive;
  margin-left:7%;
  margin-right:2%;
  background: brown;
}

.rectangle {
  height: 500px;
  width: 350px;
  background-color: brown;
  border: 3px solid green;
   padding: 70px;
  opacity: 0.6;
  
}
.container1 {
  height: 15em;
  width: 15em;
  background: brown;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) }
.container3 {
  text-align: center;
}
#move {
  float: right
}

.border {
  border: 6px solid brown;
}

.app {
  padding-bottom: 75px
}
.font-yellow{
color: yellow
}
 
